@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");

* {
  box-sizing: border-box;
}

#root {
  display: flex;
  align-items: center;
  width: 100%;
}

body {
  background: #007aff;
  height: 100vh;
  width: 100vw;
  display: flex;
  font-weight: 400;
  margin: 0;
  font-family: "Fira Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
span {
  font-weight: 500;
  font-family: "Fira Sans", sans-serif;
  margin: 0;
}
